/* banner */

.banner {
  margin-top: 0;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__heading {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #1d3557;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 25px;
}

.banner__heading-2 {
  text-align: center;
  background-color: #457b9d;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

/* Cards */

.cards {
  width: 100%;
  background-color: #f1faee;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 600px;
}

.card__img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.card__single {
  text-align: center;
  padding-top: 150px;
  width: 550px;
  margin-bottom: 50px;
}

.card__heading {
  margin-top: 25px;
  color: #1d3557;
}

.card__p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 300;
  color: #1d3557;
}

/* guide card */

.guide__card {
  margin-top: 100px;
  background-color: #a8dadc;
  width: 490px;
  height: 300px;
  border-bottom: solid 8px #1d3557;
  display: flex;
  border-radius: 10px;
}

.guide__card-img {
  width: 150px;
  height: 190px;
  border-radius: 10px;
  margin-top: 45px;
  margin-left: 25px;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  color: #1d3557;
}

.heading {
  color: #1d3557;
}

.para {
  width: 250px;
  margin: 15px;
  color: #1d3557;
}

.bottom__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
